@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Ubuntu:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    line-height: 30px;
    color: rgb(255, 126, 152);
}

Body{
    background-color: rgb(17, 17, 32);
}

/* header start */

#burger {
    display: none;
}

.toggle {
    display: block;
    position: fixed;
    height: 50px;
    width: 60px;
    top: 10vh;
    left: 5vw;
    z-index: 21;
    cursor: pointer;
    border-radius: 2px;
    background-color: #dbd4d41e;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.toggle .common {
    position: absolute;
    height: 4px;
    width: 40px;
    background-color: #ffffff;
    border-radius: 50px;
    transition: 0.3s ease;
}

.toggle .top-line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .mid-line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .bot-line {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#burger:checked ~ .toggle .top-line {
    left: 7px;
    top: 23px;
    width: 45px;
    transform: rotate(-45deg);
}

#burger:checked ~ .toggle .bot-line {
    left: 7px;
    top: 23px;
    width: 45px;
    transform: rotate(45deg);
}

#burger:checked ~ .toggle .mid-line {
    opacity: 0;
    transform: translateX(-40px);
}


/* header end */

