@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Ubuntu:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    line-height: 30px;
    color: rgb(255, 126, 152);
    scroll-behavior: smooth;
}

Body{
    background-color: rgb(17, 17, 32);
    width: 100vw;
}

/* header start */

#burger {
    display: none;
}

.toggle {
    display: block;
    position: fixed;
    height: 50px;
    width: 60px;
    top: 10vh;
    left: 5vw;
    z-index: 21;
    cursor: pointer;
    border-radius: 2px;
    background-color: #dbd4d41e;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.toggle .common {
    position: absolute;
    height: 4px;
    width: 40px;
    background-color: #ffffff;
    border-radius: 50px;
    transition: 0.3s ease;
}

.toggle .top-line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .mid-line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .bot-line {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#burger:checked ~ .toggle .top-line {
    left: 7px;
    top: 23px;
    width: 45px;
    transform: rotate(-45deg);
}

#burger:checked ~ .toggle .bot-line {
    left: 7px;
    top: 23px;
    width: 45px;
    transform: rotate(45deg);
}

#burger:checked ~ .toggle .mid-line {
    opacity: 0;
    transform: translateX(-40px);
}


/* header end */

/* main section start */

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 90vw;
}

/* left section start */

.left-side {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: fixed;
    width: 50vw;
    height: 100vh;
    justify-content: center;
    z-index: 1;
    text-align: left;
}

.left-side .greeting {
    position: relative;
    top: -10vh;
}

.left-side h1 {
    font-size: 35px;
    padding: 40px 5vw;
    line-height: 40px;
    top: 20vh;
}

.left-side p {
    font-size: 25px;
    line-height: 40px;
    padding: 0 5vw;
}

.left-side .tool {
    font-size: 20px;
    font-style: italic;
    padding-bottom: 50px;
}

.left-side .scroll a {
    position: relative;
    width: 250px;
    background-color: transparent;
    font-size: 25px;
    padding: 10px 10px;
    border-radius: 5px;
    border: solid 2px rgb(255, 126, 152);
    left: 5vw;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.left-side .scroll:hover a {
    background-color: rgb(255, 126, 152);
    color:azure;
}

.left-side .scroll a:active {
    background-color: aqua;
}

/* left section end */


